<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>del删除相册</title>
</head>
<body>
    <h1>del删除相册</h1>
    <form action="/delPicture" method="get">
        相册名称：<input type="text" name="delName"><br>
        <input type="submit" value="删除相册">
    </form>
    <p><a href="/">返回首页</a></p>
</body>
</html>