<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>相册首页</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>相册</h1>
    <div id="box">
       <ul>
           <%for(var i=0;i<dirList.length;i++){%>
                <li>
                    <div></div>
                    <span><%=dirList[i]%></span>
                </li>
           <%}%>
       </ul>
       <ul>
           <li>
                <%for(var i=0;i<imgList.length;i++){%>
                        <li>
                            <div>
                               
                            </div>
                            <span><%=dirList[i]%></span>
                        </li>
                   <%}%>
           </li>
       </ul>
    </div>
    <p><a href="/upload">上传图片</a>
     <a href="/show">查看图片</a>
    <a href="/add">新建相册</a>
    <a href="/del">删除相册</a></p>
</body>
</html>
<script src="js/jquery-1.12.4.js"></script>
<script>

</script>