<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>upload上传图片</title>
</head>
<body>
    <h1>upload上传图片</h1>
    <p>
        <form action="/uploadPicture" method="post" enctype="multipart/form-data">
            <p>选择相册：
                <select name="dirname" id="dirname">
                    <!-- 获取数据库 相册名称 -->
                    <%for(var i=0;i<dirList.length;i++){%>
                       <option value='<%=dirList[i]%>'><%=dirList[i]%></option>
                    <%}%>
                </select>
            </p>
            <p>选择需要上传的图片：
                <input type="file" name="picture">
            </p>
            <p>
                <button type="submit">提交图片</button>
            </p>
        </form>
    </p>

    <p><a href="/">返回首页</a></p>
</body>
</html>